footer {
  background-color: var(--background-color);
  font-size: var(--body-font-size-xs);
  color: #4a4a4a;
}

footer .footer > div {
  margin: auto;
  max-width: 1180px;
}

footer .footer .section {
  margin: 0;
  padding: 0;
}

footer .footer .section > div {
  margin: auto;
  max-width: 1180px;
  padding: 20px 24px;
}

footer .footer .section:first-of-type > div {
  text-align: center;
  padding-bottom: 16px;
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #4a4a4a;
  margin-bottom: 16px;
  margin-left: 40px;
  margin-right: 40px;
}

footer .footer ul {
  list-style: none;
  margin: 16px 0;
  padding: 0;
}

footer .footer ul li {
  display: inline-block;
  padding: 0 12px 8px 0;
}

footer .footer ul a:any-link {
  color: #e65400;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

footer .footer ul a:hover {
  text-decoration: underline;
}

footer .footer .section:last-of-type > div {
  text-align: center;
  padding-top: 16px;
  padding-bottom: 20px;
  border-top: 1px solid #4a4a4a;
  margin-left: 40px;
  margin-right: 40px;
}

footer .footer .section:last-of-type p {
  margin: 0 0 16px;
  line-height: 1.4;
}

footer .footer .section:last-of-type p:last-child {
  margin: 0;
  display: none;
}

footer .footer .section:last-of-type a:any-link {
  color: #e65400;
  text-decoration: none;
}

footer .footer .section:last-of-type a:hover {
  text-decoration: underline;
}

footer .footer .section:last-of-type picture {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 0;
}

footer .footer .section:last-of-type img {
  width: 130px;
  height: auto;
}

@media (width >= 900px) {
  footer .footer .section > div {
    padding: 20px 32px;
  }

  footer .footer .section:first-of-type > div {
    padding-bottom: 16px;
  }

  footer .footer .section:last-of-type > div {
    padding-top: 16px;
    padding-bottom: 20px;
  }
}
